<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1>Edit {{place.name}}</h1>
            <hr>
            <form action="/places/edit/{{place.id}}" method="POST">
                <div class="row">
                    <div class="col mb-3">

                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{place.name}}">

                    </div>
                    <div class="col mb-3">

                        <label for="type" class="form-label">Type</label>
                        <input type="text" class="form-control" id="type" name="type" value="{{place.type}}">

                    </div>
                    <div class="col mb-3">

                        <label for="latitude" class="form-label">Latitude</label>
                        <input type="text" class="form-control" id="latitude" name="latitude" value="{{latitude}}">

                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="longitude" class="form-label">Longitude</label>
                            <input type="text" class="form-control" id="longitude" name="longitude"
                                value="{{longitude}}">
                        </div>
                    </div>
                </div>


                <div class="d-grid mt-5">
                    <button type="submit" class="btn btn-dark btn-lg">Edit Place</button>
                </div>
            </form>
        </div>
    </div>
</div>