<div class='container'>
    <div class="encabezado mt-5">
        <h2>Update the drone</h2>
    </div>
    <div>

        <form action="/places/:_id/update" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{name}}">
                
            </div>
            <div class="mb-3">
                <label for="longitude" class="form-label">Longitude</label>
                <input type="text" class="form-control" id="longitude" name="longitude" value="{{location.coordinates.[0]}}">
            
            </div>
            <div class="mb-3">
                <label for="latitude" class="form-label">Latitude</label>
                <input type="text" class="form-control" id="latitude" name="latitude" value="{{location.coordinates.[1]}}">
            
            </div>
            <div class="mb-3">
                <label for="type" class="form-label">Type</label>
                <select id="type" class="form-select" name="type" value="{{type}}">
                    <option selected>Choose...</option>
                    <option value='Bookstore'>Bookstore</option>
                    <option value='Coffee shop'>Coffee shop</option>
                </select>
            </div>



            <input type="hidden" name="_id" value="{{_id}}">

            <div class="d-grid mt-5">
                <button type="submit" class="btn btn-dark btn-lg">Update</button>
            </div>

        </form>
    </div>