<div class="container">
    <h2>{{name}}</h2>
    <hr>

    <h5>{{name}} is a {{type}}</h5>

    <div class="row">

        <div class="col-1">
            <a href="/edit/{{_id}}" class="btn btn-dark btn-sm">Edit</a>
        </div>

        <div class="col-1">
            <form action="/delete/{{_id}}" method="POST">
                <input type="submit" value="Delete" class="btn btn-dark btn-sm">
            </form>

        </div>
    </div>

</div>