
<h2>{{name}}</h2>
<p>Address:{{address}} </p>
<p>Latitud:{{location.coordinates.[1]}} </p>
<p>Longitud: {{location.coordinates.[0]}} </p>
<a href="/places/delete/{{_id}} ">Eliminar</a>
<a href="/places/edit/{{_id}} ">Editar</a>