{{#each places}}
<div>
<p>{{this.name}}</p>
<p>{{this.type}}</p>
<a href="/places/{{this._id}}/edit">Edit this place</a><br>
<a href="/places/{{this._id}}/delete">Delete this place</a><br>
<a href="/places/{{this._id}}">See this place</a><br>
<p class="pos"> {{this.location.coordinates}}</p>
</div>
{{/each}}

<br><br>
<a href="/places/new">add a new place</a>
<div id="map" class="map"></div>
