<div class="">
  <h1>El Place</h1>

  <p>Nombre: {{place.name}}</p>
  <p>Tipo: {{place.type}}</p>
  <p>Latitud: {{place.location.coordinates.[1]}}</p>
  <p>Longitud: {{place.location.coordinates.[0]}}</p>

  <a href="/places/{{place._id}}/edit">Editar place</a>

</div>