<div>
    <h3>{{name}}</h3>
    <label id="tipo">{{tipo}}</label>
    <br>
    <a href="/places/modify/{{id}}">Modificar</a>   
    <a href="/places/delete/{{id}}">Eliminar</a>
    <hr>
</div>
<div id="map" style=" width:900; height:300px;"></div>
<a href="/places/list">Regresar a lista</a>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0iBJ86eZUGkhbuWhS7b4_B3-8cRYQgTQ&libraries=places"></script>
<script>
    function startMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
        center: {
            lat: {{{lat}}},
            lng: {{{lng}}}
        },
        zoom:15
    })

    const myMarker = new google.maps.Marker({
            position: map.center,
            map: map,
            title: 'Lugar'
        })
    }
    startMap()
</script>