<div id="detail">
  <a href="/places/{{_id}}/edit">Edit</a>
  <a href="/places/{{_id}}/delete">Delete</a>
  <h1>{{name}}</h1>
  <div id="map"></div>
  <img src="../{{image}}" alt="{{name}}">  
  <div id="content">
    <p><strong>Category: </strong>{{category}}</p>
    <p><strong>Rating: </strong>{{rating}} out of 100</p>
  </div>
</div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoic2llZ3JpY2hvIiwiYSI6ImNqdXR5am8xcjBkOGM0ZXBoeThjN2wyODEifQ.9JB40q3MPOBf6NO9rWk9CA';
  const map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v11',
  center: [{{ location.coordinates}}],
  zoom: 15
  });
  new mapboxgl.Marker()
    .setLngLat([{{ location.coordinates }}])
    .addTo(map)
</script>