<div class="container">

  <div class="row">
    <div class="col-md-6">
      <div>
        <h1>Detalles del establecimiento '{{name}}'</h1>
        <p>Nombre: {{name}}</p>
        <p>Tipo de establecimiento: {{type}}</p>
        <p>Latitud: {{location.coordinates.[0]}}</p>
        <p>Longitud: {{location.coordinates.[1]}}</p>

        {{!-- <a href="places/{{id}}" class="btn btn-info">Ver detalles</a>
        <a href="places/edit?place_id={{id}}" class="btn btn-info">Editar establecimiento</a>

        <form action="/places/delete?place_id={{id}}" method="POST">
          <button type="submit" class="btn btn-info">Borrar</button>
        </form>

      </div>

      <div>
        <a href="places/new" class="btn btn-info">Crear nuevo establecimiento</a>
      </div> --}}
    </div>
  </div>

</div>