<h2>{{placeFound.name}}'s details</h2>

<form action="/places/edit/{{placeFound.id}}" method="POST"></form>
  Name: <input type="text" name="name" value="{{placeFound.name}}">
  Type: <select name="type">
    {{!-- <option value={{placeFound.type}} selected>{{placeFound.type}}</option> --}}
    <option value="Coffee shop">Coffee shop</option>
    <option value="Bookstore">Bookstore</option>
  </select>
  <input type="hidden" name="id" value="{{placeFound.id}}">
  <input type="number" name="latitude" value="{{placeFound.location.coordinates.[1]}}">
  <input type="number" name="longitude" value="{{placeFound.location.coordinates.[0]}}">
  <input type="submit">Edit place</input>
</form>
