<h1>Edit place</h1>

<div class="place-container">
  <form class="place-card" action="/places/edit" method="post">
    {{#with place}}
    <input type="hidden" name="_id" value="{{_id}}">
    <h2 class=""><input type="text" value="{{name}}" name="name" class="place-card-title"></h2>
    <input type="text" class="place-card-type" value="{{type}}" name="type">
    <p class="place-location place-location-lat">
      Latitude<span><input type="text" value="{{location.lat}}" id="lat"
          name="lat"></span></p>
    <p class="place-location place-location-lng">
      Longitude<span><input type="text" value="{{location.lng}}" id="lng"
          name="lng"></span></p>
    <div class="actions">
      <a href="/places/detail/{{_id}}" class="button button-detail">Detail</a>
      <input type="submit" value="update" class="button button-submit">
      <a href="/places/delete/{{_id}}" class="button button-delete">Delete</a>
    </div>
    {{/with}}
  </form>

  <div id="map" class="map"></div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUeQXCyJDlhOtCB8JwWAk8zCxpjk6k-jo"></script>
<script src="/javascripts/edit.js"></script>