
<div class="container back-places" >

  <div class="row" >

    <div class="col-md-6">
      <h2>Edita un lugar_</h2>
    </div>

    <div class="col-md-6">
      <form action="/places/edit?id={{_id}}" method="post" class="form-style">
        <div class="form-group">
          <label for="name-input">Nombre</label>
          <input name="name" type="text" class="form-control" id="name-input" value="{{name}}">
        </div>
        <div class="form-group">
          <label for="description">¿Es un coffee shop o un bookstore?</label>
          <p>Actualmente es un <strong>{{description}}</strong></p>
          <p><input name="description" type="radio"  id="coffee-shop" value="coffee shop"> coffee shop</p>
          <p><input name="description" type="radio"  id="bookstore" value="bookstore"> bookstore</p>
        </div>
        <hr>
        <div class="form-group">
          <label for="direction" class="label-form">¿Dónde se encuentra?</label>
          <p>Latitud </p>
          <input type="text" name="lat" class="form-control" value="{{location.coordinates.[0]}}">
          <br>
          <p>Longitud</p> <input type="text" name="long" class="form-control" value="{{location.coordinates.[1]}}">
          <br>
          <p>Dirección</p> <input type="text" name="address" class="form-control" value="{{address}}">
        </div>
       
        <button type="submit" class="btn btn-dark">Editar lugar</button>
        <a href="/places" class="btn btn-dark">Volver</a>
      </form>
      
    </div>

  </div>
</div>