<h1>A map! Awesome!</h1>
<div id="map"></div>






<h2>Favourite places</h2>
{{#each placeInDb}}
 <h3>{{name}}</h3>
 <p>{{type}}</p>
 <a href="/places/{{_id}}/update">Update details</a>
 <a href="/places/{{_id}}/delete">Delete this place</a>
 {{!-- <form action="/places/{{_id}}/delete" method="POST">
  <button type="submit">Delete</button>
</form> --}}
{{/each}}

<h4><a href="/places/add">Add a new favourite Place</a></h4>