<h1>{{title}}</h1>
<div class="info">
  <h3>List of all places</h3>
  <a href="/places/new">Create new place</a>
  <ul>
    {{#each places}}
    <li>
      <a href="/places/{{ this._id}}">{{ this.name}}</a> | <a href="/places/{{ this._id}}/delete">Delete</a>
    </li>
    {{/each }}
  </ul>
  <figure id="placeMap"></figure>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{Api}}&callback=initMap"></script>