<!DOCTYPE html>
<html>
  <head>
    <title>COFFEE AND BOOKS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>


    <h1>Bookstores and coffeshops</h1>
    <ul>
    <% listplaces.forEach((e) => { %>
      <li>Name: <%= e.name %></li>
      <li>Place: <%= e.type %></li>
      <a href="/places/<%= e._id %>">See</a>
      <a href="/places/<%= e._id %>/edit">Edit</a>
      <form action="/places/<%= e._id %>/delete" method="POST">
      <button type="submit">Delete</button>
      </form>
      <br>
    <%})%>
    </ul>

    <a href="/places/new">Add new place</a>

    <div id="map"></div>

    <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5szlGG2woo8EqfywCdGt7KEimCxBHfOo"></script>
    <script  src="/javascripts/main.js"></script>
  </body>

</html>
