<h1>Create new place</h1>

<div class="place-container">
  {{!-- <div class="place-card">
    {{#with place}}
    <form class="form" method="post" action="/places/edit">
      <div class="field">
        <input type="hidden" name="_id" value="{{_id}}">
        <input type="text" class="input" name="name" placeholder="Name"
          id="name" value="{{name}}">
        <label for="name" class="label palce-card-title">Name</label>
      </div>
      <div class="field">
        <input type="text" name="type" id="type" placeholder="Type"
          value="{{type}}">
        <label for="type" class="label">Type</label>
      </div>
      <div class="field">
        <input type="text" class="input" name="lat" id="lat"
          value="{{location.lat}}">
        <label for="lat">Latitude</label>
      </div>
      <div class="field">
        <input type="text" class="input" name="lng" id="lng"
          value="{{location.lng}}">
        <label for="lng">Longitude</label>
      </div>
      <div class="actions">
        <input type="submit" value="update" class="button button-submit">
      </div>
    </form>
    {{/with}}
  </div> --}}

  <form class="place-card" action="/places/new" method="post">
    <h2 class=""><input type="text" name="name" placeholder="Place name" class="place-card-title"></h2>
    <input type="text" class="place-card-type" placeholder="type" name="type">
    <p class="place-location place-location-lat">
      Latitude<span><input type="text" id="lat" name="lat"></span></p>
    <p class="place-location place-location-lng">
      Longitude<span><input type="text" id="lng" name="lng"></span></p>
    <div class="actions">
      <input type="submit" class="button button-submit" value="create">
    </div>
  </form>

  <div id="map" class="map"></div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUeQXCyJDlhOtCB8JwWAk8zCxpjk6k-jo"></script>
<script src="/javascripts/new.js"></script>