<div>
  <h2>Edit Place:</h2>
  <form action="/{{id}}/edit" method="POST">
    <div>
      <label for="">Name:</label>
      <input type="text" name="name" value="{{name}}">
    </div>
    <div>
      <label for="">Type:</label>
      <input type="text" name="type" value="{{type}}">
    </div>
    <div>
      <label>Address</label>
      <input type="text" name="latitude" placeholder="latitude" value="{{location.coordinates.[1]}}">
      <input type="text" name="longitude" placeholder="longitude" value="{{location.coordinates.[0]}}">
    </div>
    <div><button type="submit">DONE</button></div>
  </form>
</div>