<div class="container">


<h1>DETALLES DEL LUGAR</h1>

    <h2>Nombre: {{name}}</h2>
    <h2>Tipo: {{type}}</h2>
    <h2>Latitud: {{location.coordinates.[0]}}</h2>
    <h2>Longitud: {{location.coordinates.[0]}}</h2>



    <a class='btn btn-primary' href="/places/edit/{{_id}}">EDIT PLACE</a>


</div>

