<h2>El Lugar</h2>

<p>Nombre: {{place.name}}</p>
<p>Tipo: {{place.type}}</p>
<p>Latitud: {{place.location.coordinates.[1]}}</p>
<p>Longitud: {{place.location.coordinates.[0]}}</p>

<a href="/places/{{place._id}}/edit">Editar pelicula</a>