<h6>Name:{{place.name}}</h6>
<p>Type:{{place.type}}</p>
<div id="map"></div>
<p>Location: latitude: {{place.location.coordinates.[0]}}, longitude: {{place.location.coordinates.[1]}}</p>
<a href="/places/{{place.id}}/edit">Edit place</a>
<a href="/places/{{place.id}}/delete">Delete place</a>