<div class="container">

  <h1 class="mb-3">{{name}}</h1>
  <p><strong>Type:</strong> <i>{{place}}</i></p>
  <p class="mb-5">{{description}}</p>
  <p><strong>Latitude:</strong> {{location.coordinates.[0]}}</p>
  <p><strong>Longitude:</strong> {{location.coordinates.[1]}}</p>

  <a href="/" class="btn btn-dark">Go back</a>

</div>