<a href="/display">back</a>
<br>
<h1>{{answer.name}}</h1>
<h2>{{answer.type}}</h2>
<h2>Latitude & longitude: {{answer.location.coordinates}}</h2>
<br>
<a href="/edit/{{answer.id}}">edit</a>
<br>
<a href="/delete/{{answer.id}}">delete</a>

<h3>Locations</h3>
<div id="map"></div>