<h3 id="placeName" data-id="{{ place.id}}">{{ place.name}}</h3>
<p>Name: {{ place.name}}</p>
<p>Type: {{ place.type}}</p>
<p>Coordinates: {{ place.location.coordinates}}</p>
<a href="/places/{{place._id}}/edit">Edit this Place</a><br>
<a href="/places">Go back to the list</a>