<h3 data-id="{{ place.id}}">{{ place.name}}</h3>
<p>{{ place.type}}</p>
<p>{{place.location.coordinates}}</p>
<a href="/places/{{place._id}}/edit">Edit this Place</a>
<a href="/places">Go back to the list</a>