<h3 id="placesName" data-id="{{ places.id}}">{{ places.name}}</h3>
<p>{{ places.location.coordinates.[0]}}</p>
<p>{{ places.location.coordinates.[1]}}</p>
<a href="/places/{{places._id}}/edit">Edit this places</a>
<a href="/places">Go back to the list</a>