<h2>List of places</h2>

{{#each places}}
<p><a href="/places/{{_id}}">{{name}}</a></p>
    <p>{{type}}</p>
<form action="/places/{{_id}}/delete" method="post">
    <button type="submit">Delete place</button>
</form>
<form action="/places/{{_id}}/edit" method="post">
    <button type="submit">Edit place</button>
</form>
{{/each}}