<h3>Edit place</h3>
<form method="POST" action="/places/{{ restaurant._id}}">
    <label>Name:</label>
    <input type="" name="name" placeholder="Name" value="{{ place.name}}">
    <select name="type">
      <option value="coffee-shop">Coffee Shop</option>
      <option value="bookstore" {{{selected place.type}}}>Bookstore</option>
    </select>
    <label>Location</label>
        <input type="text" name="latitude" id="latitude" placeholder="Latitude" value="{{ place.location.coordinates.[1]}}">
        <input type="text" name="longitude" id="longitude" placeholder="Longitude" value="{{ place.location.coordinates.[0]}}">
    <button type="submit" name="" id="submit">Edit</button>
</form>
