<div class="container">

    <h1 style="font-weight: 100">Update {{name}}</h1>

    <div class="row">

        <div class="col-md-6">

            <form action="/place/update/{{id}}" method="POST">

                <div class="form-group">
                    <label for="name-input">Name</label>
                    <input name="name" type="text" class="form-control" id="name-input" value="{{name}}" required>
                </div>

                <div class="form-group">
                    <label for="type-input">Type of place</label>
                    <select name="type" class="form-control" id="type-input" required>
                        <option>Select</option>
                        <option value="coffee shop">Coffe Shop</option>
                        <option value="bookstore">BookStore</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="latitude-input">Latitude</label>
                    <input name="latitude" type="text" class="form-control" id="latitude-input" value="{{location.coordinates.[0]}}"
                        required>
                </div>
                
                <div class="form-group">
                    <label for="longitude-input">Longitude</label>
                    <input name="longitude" type="text" class="form-control" id="longitude-input" value="{{location.coordinates.[1]}}"
                        required>
                </div>

                <button type="submit" class="btn btn-dark">Done</button>
                <a class="btn btn-dark" href="/place/{{id}}">Back to details</a>
            </form>
        </div>

    </div>
</div>