<div class="col-md-3">
    <article class="card">
        <img class="card-img-top" src="{{photo}}" alt="{{name}}">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <hr>
            <div class="card-text">{{placeType}}</div>
            <span><div class="class card-footer">
                <a href="/place/{{id}}" class="btn btn-sm btn-info">Ver detalles</a>
            </div></span>
        </div>
        
    </article>
    
</div>
