
<div class='resCard'>
<h3>{{name}}</h3>
<h4>{{typeOfEstablishment}}</h4>
{{!-- <a href="/{{_id}}">Show on map</a> --}}
<p class="lat">{{location.lat}}</p>

<p class="lng">{{location.lng}}</p>
</div>

