<div class="container list">

    <div class="row">
        {{#each places}}

        <div class="col-md-4">
            <div class="card mb-4 player-card">

                <div class="card-body">
                    <h5 class="card-title">NAME: <span>{{name}}</span></h5>
                    <p class="card-title"> TYPE:{{type}}</p>
                    {{!-- <p class="card-title"> LOCATION: {{location}}</p> --}}


                    <a href="/{{id}}/edit" class="btn btn-dark btn-sm ">EDIT PLACE</a>
                    <form action="/{{id}}/delete" method="POST">
                        <input type="submit" value="DELETE PLACE" class="btn btn-danger btn-sm ">
                    </form>

                </div>
            </div>
        </div>

        {{/each}}


    </div>
</div>