<h1>BOOKS AND COFFEE</h1>

<hr>


<a class="btn btn-primary" href="/places/create">Crear Cursos</a>
<a class="btn btn-warning" href="/map/places">VER MAPAS</a>



{{#each place}}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{type}}</p>
                <p class="card-text">{{lat}}</p>
                <p class="card-text">{{long}}</p>

                <a href="/places/{{id}}">Ver Curso</a>

                <a href="/places/{{id}}/edit" class="btn btn-primary">Editar</a>
                <a href="/places/{{id}}/delete" class="btn btn-primary">Eliminar</a>
            </div>
        </div>
    </div>
</div>
{{/each}}