<p>{{name}}</p>


<p>Ady <3 </p>

<div id="map"></div>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8o46KiOg4PdiJ8WCRXC9KyFfE4d-g0Qw"></script>

    <script>

      function map(){
        const map = new google.maps.Map((
          document.getElementById('map')
        ),
        {
          zoom:15,
          center:{
            lat:{{location.coordinates.[1]}},
            lng:{{location.coordinates.[0]}}
          }
        })

        const marker = new google.maps.Marker ({
        
        map: map,
        position:{
          lat:{{location.coordinates.[1]}},
          lng:{{location.coordinates.[0]}}

        },
        animation:google.maps.Animation.DROP
        })
        function toggleBounce() {
        if (marker.getAnimation() !== null) {
          marker.setAnimation(null);
        } else {
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }

      }

    map()
    </script>