<h2>Places List</h2>

<div class="container">
    <div class="row">
        <div class="col">
            <ul>
                {{#each placeInfo}}
                <li>{{name}}</li>
                <li>{{type}}</li>
                <li>{{location.coordinates.[0]}}</li>
                <li>{{location.coordinates.[1]}}</li>
            
                <a href="/places/{{_id}}">Place Detail</a>
                <br><br>

                <form action="/places/{{_id}}/delete" method="POST">
                    <label for="delete-btn">
                        <input id="delete-btn" type="submit" value="Delete Place" >
                    </label>
                </form>
                
                {{/each}}
            </ul>
        </div>
    </div>
</div>


