<a href="/places/{{place._id}}/edit">Edit this place</a>
<a href="/places/list">Go back to the list</a>
<h3 id="placeName" data-id="{{place.id}}">{{place.name}}</h3>
<h5>{{place.location.type}}</h5>
<h5>{{place.location.coordenates}}</h5>