<section class="container">
    <a href="/places/new-coffee">Create new coffee shop</a>
    <a href="/places/new-book">Create new bookstore</a>

    <h2>See our favourite places and choose one!</h2>

    {{#each allPlaces}}
    <div class="row">
        <article class="col-6">
            <div class="list-group list">
                <a href="#" class="list-group-item list-group-item-info">
                    {{name}}. Type: {{location.type}} / Coordinates: {{location.coordinates}}
                </a>
            </div>
        </article>
        <article class="col-3">
            <a href="/places/details/{{_id}}"><button type="button" class="btn btn-info">See details</button></a>

            <form action="/places/{{_id}}/delete" method="post">
                <button type="submit" class="btn btn-dark">Borrar</button>
            </form>
        </article>
    </div>
    <hr>
    {{/each}}

</section>
<figure id="myMap"></figure>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="/javascripts/main.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwcZK_lZAkemkjdBLYtzBzqrTZuWipmmo&callback=initMap"></script>