<section class="container places-index">

  <br>
  <h1>Nuestros lugares favoritos</h1><hr>
  
  <div class="row justify-content-center">

    {{#each allPlaces}}

    <div class="col-md-4" style="margin-bottom: 20px;">

      <h3><strong>{{name}}</strong></h3>
      <p>Tipo de lugar: {{type}}</p>


      <h5>Localización en coordenadas:</h5>
      <small>
      <p>Latitud: {{location.coordinates.lat}} </p>
      <p>Longitud: {{location.coordinates.lng}}</p>
      </small>

      <a href="/places/{{id}}" class="btn btn-md btn-dark">Ver detalles del sitio</a>
      <a style="margin-left: 20px" href="/places/delete?id={{id}}" class="btn btn-sm btn-danger">Eliminar :(</a>
      
    </div>

  {{/each}}

  </div>

  <hr>
  <a href="/places/new" class="btn btn-info btn-lg btn-block">Crea un nuevo lugar para la comunidad</a>

</section>