<div class="container">
    <h2> List of places</h2>


    <ul>

        {{#each places}}

        <li>Name: {{name}} Type: {{type}} Location: {{location.coordinates}}</li>
        <a href="/sitios/{{_id}}/editar">Editar</a>


        <form action="/sitios/{{_id}}/eliminar" method="POST">

            <input type="submit" value="Delete place">

        </form>


        {{/each}}

    </ul>

    <figure id="myMap"></figure>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/mapStyles.js"></script>
<script src="/js/places-map-setup.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&callback=initMap"></script>