<header>
<div class="d-flex justify-content-center">
<h1 class="text-uppercase"><h1>{{name}}</h1></h1>
</div>
<div class="d-flex justify-content-center">
</div>

<div>
<hr>
<div class="spinner-grow text-primary" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-primary" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-primary" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-primary" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-primary" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-primary" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-primary" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only"></span>
</div>

<hr>

</div>

</header>

<body>


<div class="card d-flex justify-content-center align-items-center" style="width: 18wv;">

<br>
<img src="{{image}}" alt="{{name}}" width="400">

  <div class="card-body">
    
    <h5 class="card-title text-center">{{stars}} stars</h5>
    <h6 class="text-muted text-center">Category: {{category}}</h6>
<div id="map" style="height: 400px; width:800px"></div>

<ul class="list-group list-group-flush">
    <li class="list-group-item"><button type="button" class="btn btn-info btn-lg align-items-center">
  <a href="/places/{{_id}}/edit" class="button">Edit</a>
</button> 
<button type="button" class="btn btn-info btn-lg align-items-center">
  <a href="/places/{{_id}}/delete" class="button">Delete</a>
</button>
</li>
 
  </ul>



<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.min.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>


<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiZGVyZWRodXplbnQiLCJhIjoiY2p1dHloazFzMGQ1dzQ0cWl5ODI0c2d1YSJ9.U1K_IoCMnfXOE-_klpYo4g';

const map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v11',
  center: [{{location.coordinates}}],
  zoom: 15
})

new mapboxgl.Marker({
  color: 'purple'
})
  .setLngLat([{{location.coordinates}}])
  .addTo(map)
  
</script>
</div>
  </div>
</body>
