<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<h1>List of places here: </h1>
<ul>
  {{#each places}}
  <li>
    <a href="/{{this._id}}">{{this.name}}</a>
  </li>
  {{/each}}
</ul>
<br>
<a href="/new">Add a new place here!</a>
<br>

<div id="res_map" style="width: 70%; height: 400px"></div>

<script>
  window.onload = function () {
    const map = new google.maps.Map(document.getElementById("res_map"), {
      zoom: 15,
      center: {
        lat: {{ places.[0].location.coordinates.[1] }},
        lng: {{ places.[0].location.coordinates.[0] }}
      }
    });
    let marker;
    {{#each places}}
      marker = new google.maps.Marker({
        position:{
          lat: {{this.location.coordinates.[1]}},
          lng: {{this.location.coordinates.[0]}}
        },
        animation: google.maps.Animation.BOUNCE,
        
        map
      });
      
    {{/each}}      
  }
  
</script>