<main class="container">


    <div class="row">



        {{#each items}}


        <div class="card col-md-6" style="width: 20rem;">
            <a href="/places/{{_id}}">
                <div class="card-body">
                    <h3 class="card-title name">{{name}}</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h4>{{type}}</h4>
                    </li>
                    <li class="list-group-item">
                        <h5>Coordinates:</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item lat">{{location.lat}}</li>
                            <li class="list-group-item lng">{{location.lng}}</li>
                        </ul>
                    </li>
                </ul>
                <div class="card-footer">

                    <figure class="list-group list-group-flush smallMap map">

                    </figure>


                </div>
            </a>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



        {{/each}}
        <br><br>

        <a href="/">[main]</a>

        {{#if errorMessage}}
        <div id="errorMessage">
            <p>{{errorMessage}}</p>
        </div>
        {{/if}}


        {{#if successMessage}}
        <div id="successMessage">
            <p>{{successMessage}}</p>
        </div>
        {{/if}}
</main>




{{!--
<script src="/js/map-script.js"></script> --}}

{{!--
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgc8Bn1wqwy9v2Euv8FbgDu4B8cGuOz6w&callback=mapInit"></script>
--}}
<script src="/js/multiple-maps-script.js"></script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX&callback=thumbMapInit"></script>