<div class="container">
    <h1>Editar {{name}}</h1>
    <hr>
    <form method="post" action="/places/edit/{{id}}">
        <div class="mb-3">
            <label for="name" class="form-label">Name of the place</label>
            <input type="text" class="form-control" id="name" name="name" value="{{name}}">
        </div>
        <div class="mb-3">
            <div class="mb-3">
                <label for="type" class="form-label">Type of the place (Book Store or Coffee shop)</label>
                <input type="text" class="form-control" id="type" name="type" value="{{type}}">
            </div>
        </div>
        <div class="mb-3">
            <h5 class="mb-3">Coordinates</h5>
            <div>
                <label for="type" class="form-label">Longitud</label>
                <input type="text" class="form-control" id="type" name="longitude" value="{{location.coordinates.[0]}}">
                <label for="type" class="form-label">Latitude</label>
                <input type="text" class="form-control" id="type" name="latitude" value="{{location.coordinates.[1]}}">
            </div>
        </div>


        <button type="submit" class="btn btn-dark">Submit</button>
    </form>

</div>