<div class="container coasters-index">
    <h1 style="font-weight: 100">{{name}}</h1>

    <h3>{{placeType}}</h3>

    <img src="{{photo}}" alt="{{name}}">

    
    <hr>
    
    <a href="/place" class="btn btn-info">Volver</a>
    <a href="/place/{{_id}}/remove" class="btn btn-info">Eliminar</a>
    <a href="/place/edit/{{_id}}" class="btn btn-info">Editar</a>
    </div>