{{#with place}}
<h1>Name: {{name}}</h1>
<h2>Description: {{description}}</h2>
<p><strong>Type:</strong> {{type}}</p>
<p><strong>Location:</strong> {{location.coordinates.[0]}},{{location.coordinates.[1]}}</p>
{{/with}}

<a href="/">Back to home</a>