<div class="container">
    <p>Nombre: {{name}}</p>
    <p>Tipo: {{type}}</p>
    <p>Latitud: {{location.coordinates.[0]}}</p>
    <p>Longitud: {{location.coordinates.[1]}}</p>
    <a href="/lugares/lista">Volver</a>
    <a href="/lugares/editar/{{_id}}">Editar</a>
    <a href="/lugares/eliminar/{{_id}}">Eliminar</a>
</div>