<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1>Editar {{places.name}}</h1>

            <hr>

            <form action="/{{places._id}}/editar" method="POST">
                <div class="mb-3">
                    <label for="tit" class="form-label">Name</label>
                    <input type="text" class="form-control" id="tit" name="name" value="{{places.name}}">
                </div>

                <div class="mb-3">
                    <label for="aut" class="form-label">Type</label>
                    <input type="text" class="form-control" id="aut" name="type" value="{{places.type}}">
                </div>

                <div class="mb-3">
                    <label for="desc" class="form-label">Latitud</label>
                    <input type="text" class="form-control" id="desc" name="latitude"
                        value="{{places.location.coordinates.[0]}}">
                </div>

                <div class="mb-3">
                    <label for="rat" class="form-label">Longitud</label>
                    <input type="text" class="form-control" id="rat" name="longitude"
                        value="{{places.location.coordinates.[1]}}">
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Editar Lugar</button>
                </div>
            </form>

        </div>
    </div>
</div>