<h2>{{name}}</h2>
<img src="{{image}}" alt="{{name}}" width="200px;">

<p>Category: {{category}}</p>
<p>{{stars}} stars</p>

<div id="map" style="width=800px; height:200px;"></div>
<a href="/places/{{_id}}/edit">
  Edit
</a> <br>
<a href="/places/{{_id}}/delete">
  Delete
</a>


<script src='https://static-assets.mapbox.com/gl-pricing/dist/mapbox-gl.js'></script>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiaXNtYWVsZmNvbSIsImEiOiJjanV0eWk2aDEwODRtNDNteGp4am85NG9hIn0.ATPop8Emi8neqrBUOwmLNg';
  const map = new mapboxgl.Map({
    container: 'map', 
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [{{location.coordinates}}],
    zoom: 18
  })
  new mapboxgl.Marker()
    .setLngLat([{{location.coordinates}}])
    .addTo('map')

</script>