<h2>{{name}}'s home page</h2>
<ul>
  <li>Name: {{name}}</li>
  <li>Type: {{type}}</li>
  <li>Address: [Latitude: {{location.coordinates.[0]}} | Longitude: {{location.coordinates.[1]}}]</li>
</ul>
<form action="/{{_id}}/edit"><input type="submit" value="Edit"></form>
<a href="/">Home</a>