<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6">
            <h2>Edit a Place</h2>
            <hr>

            <form action='/places/editar/{{_id}}' method="POST">

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{name}}">
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label">Type of Place</label>
                    <input type="text" class="form-control" id="type" name="type" value="{{type}}">
                </div>
                <div class="mb-3">
                    <label for="latitude" class="form-label">Latitude</label>
                    <input type="text" class="form-control" id="latitude" name="latitude" value="{{latitude}}">
                </div>
                <div class="mb-3">
                    <label for="longitude" class="form-label">Longitude</label>
                    <input type="text" class="form-control" id="longitude" name="longitude" value="{{longitude}}">
                </div>
                <div>
                    <button type="submit" class="btn btn-outline-success">Edit</button>
                </div>
                <br>

            </form>
            <br>

        </div>

    </div>
    <hr>
    <a href='/' class="btn btn-outline-dark">Home</a>

</div>