<form class="places" action="/places/{{_id}}/edit" method="POST" novalidate>
  <h2>Update place</h2>
  <div class="form-content">
    <div class="form-content-text">
      <div>
        <label for="name"></label>
        <input type="text" name="name" placeholder="Name" value="{{name}}">
      </div>
      <div>
        <label for="placeType"></label>
        <select name="placeType" id="type">
          <option value="cantina">Cantina</option>
          <option value="bar">Bar</option>
          <option value="antro">Antro</option>
          <option value="restaurante">Restaurante</option>
        </select>
      </div>
    </div>

    <div class="form-content-map">
      <div id="map" style="width: 400px; height: 300px"></div>
      <input type="number" name="location[coordinates][0]" id="lng" hidden />
      <input type="number" name="location[coordinates][1]" id="lat" hidden />
    </div>
  </div>

  <input class="btn" type="submit" value="Edit">
</form>

<script>
  const option = document.querySelector('option[value="{{placeType}}"]')
  console.log(option)
  let selected = document.createAttribute("selected");
  console.log(selected)
  option.setAttributeNode(selected);
  console.log(option)

  {{#if location.coordinates.[0]}}
  document.querySelector('#lng').value = '' + {{ location.coordinates.[0] }}
  document.querySelector('#lat').value = '' + {{ location.coordinates.[1] }}
  {{/if}}

  mapboxgl.accessToken = 'pk.eyJ1Ijoicm9nZXJheXJhIiwiYSI6ImNqcWgzd2dsMTI2dTQ0NGxicXJiczQ5cXEifQ.XxSlOtI11XLzeQ-QsxlXAg';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
     {{#if location.coordinates.[0]}}
    zoom: 14,
    center: [{{ location.[coordinates] }}]
     {{/if}}
  });

{{#if location.coordinates.[0]}}
  const marker = new mapboxgl.Marker({
    color: 'red'
  })
    .setLngLat([{{ location.[coordinates] }}])
    .addTo(map)
 {{/if}}


  const geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl
  })

  map.addControl(geocoder);

  geocoder.on('result', ({ result: { center } }) => {
    document.querySelector('#lng').value = center[0]
    document.querySelector('#lat').value = center[1]
  })

</script>