<div class="container">
  <div class="row">

    <div class="col-sm-6">
      <h2>Edit {{name}}</h2>
      <form action="/edit/{{id}}" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" value="{{name}}">
        </div>
        <div class="form-group">
          <label for="typeField">Place Type</label>
          <select class="custom-select" id="typeField" name="type">
            <option value="coffee shop">Coffee Shop</option>
            <option value="bookstore">Bookstore</option>
          </select>
        </div>
        <div class="form-group">
          <label for="latitudeField">Latitude</label>
          <input type="text" class="form-control" id="latitudeField" name="latitude" value="{{location.coordinates.[0]}}">
        </div>
        <div class="form-group">
          <label for="longitudeField">Longitude</label>
          <input type="text" class="form-control" id="longitudeField" name="longitude" value="{{location.coordinates.[1]}}">
        </div>
        {{#if errorMessage}}
        <p class="errorMessage">{{errorMessage}}</p>
        {{/if}}
        <a href="/" class="btn btn-primary">Back</a>
        <button type="submit" class="btn btn-dark">Edit Place</button>
      </form>
    </div>


  </div>
</div>