<form action="/sitios/editar/{{data.id}}" method="POST">

  <div class="container">
    <h2>Nombre</h2>
    <input type="text" name="name" value="{{data.name}}">
    <h2>Tipo</h2>
    <select name="type" value="{{data.type}}">
      <option value="{{data.type}}">{{data.type}}</option>

      <option value="Bookstore">Libreria</option>
      <option value="Coffee Shop">Cafetería literaria</option>
    </select>
    <h2>Coordenadas</h2>
   
    <input type="text" name="lat"  value="{{data.location.coordinates.[0]}}"><br><br>
    <input type="text" name="lon" value="{{data.location.coordinates.[1]}}"><br><br>
    <input type="submit" value="Editar sitio" class="btn btn-warning">
    <form action="/sitios/eliminar/{{data.id}}" method="GET">
<button type="submit" class=" btn btn-danger">Eliminar sitio</button>
    </form>
    <br>
    <a href="/sitios"class="btn btn-dark">Volver a sitios</a>

  </div>



</form>