<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="map"></div>
{{!-- <script>
  window.result = {{{JSONplaces}}}
</script> --}}
<h2>Edit places</h2>
<form action="/{{place._id}}/edit" method="post">
  <label for="">Name: </label>
  <input type="text" name="name" value="{{place.name}}"> <br><br>

  <label for="">Type: </label>
  <input type="text" name="type" value="{{place.type}}"> <br><br>

  <label>Address</label>
  <input id="latitude" type="text" name="latitude" placeholder="latitude" value="{{place.location.coordinates.[0]}}">
  <input id="longitude" type="text" name="longitude" placeholder="longitude" value="{{place.location.coordinates.[1]}}">

  <button type="submit">Edit</button>
</form>