<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Untitled</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="author" href="humans.txt">
</head>

<body>
    <form method="post" action="/">
        Name:
        <input type="text" name="name" placeholder="name">
        <br> Category:
        <select name="category">
            <option value="coffee">Coffee</option>
            <option value="books">Books</option>
        </select>
        <br>
        <br>
        <label>Address</label>
        <br> Lat:
        <input type="text" name="latitude" placeholder="Latitude"> Lon:
        <input type="text" name="longitude" placeholder="Longitude">
        <input type="submit" name="submit">
    </form>
    <div id="map"></div>
    <ul>
  <% places.forEach((place) => { %>
    <li>
      <a href="/places/<%= place._id%>">
        <%= place.name%> | <%= place.location %> </a>
        <a href="/places/<%= place._id%>/edit">Edit</a> | 
        <a href="/<%= place._id%>/delete">Delete</a>
    </li>
  <% }) %>
</ul>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUeQXCyJDlhOtCB8JwWAk8zCxpjk6k-jo">
    </script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/main.js"></script>
</body>

</html>