<div class="hero-section">
<h1>{{title}}</h1>
{{!-- <div class="lists-wrapper">
  <a href="/places">BROWSE THE LIST OF PLACES</a>
</div> --}}
<a class="new" href="/places/new">💡create new place💡</a>
<div id="map"></div>
<div class="list-wrapper">
<ul>
{{#each placesFound}}
<li>
<h3>{{name}}</h3>
<h4>{{type}}</h4>
<a href="/places/{{_id}}">View more...</a>
<div class="forms-container">
<form action="/places/{{_id}}/delete" method="POST">
<input type="hidden" name="id" class="text" value="{{_id}}">
<input type="submit" class="submit" value="Delete"></form>
<form action="/places/{{_id}}/edit" method="POST">
<input type="hidden" name="id" class="text" value="{{_id}}">
<input type="submit" class="submit" value="Edit">
</form>
</div>
</li>
{{/each}}
</ul>

</div>



</div>
<p>🌚</p>
</div>