<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/places/new/">New</a>
{{#if places}}
  <ul>
  {{#each places }}
  <li>
    {{name}} - <a href="/?{{type}}">{{type}}</a>
  </li>
  {{/each}}
  </ul>
{{else}}
  <p>No hay lugares</p>
{{/if}}
<div id="map"></div>
<script>window.marks = {{{placesStr}}};</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmA_nB5Ja-EzOKb37_eyIomFhgC6QjEvw"></script>
<script src="javascripts/mapList.js"></script>