<h1>Books & Bars</h1>
<h4>List of Books and Bars:</h4>

<div id="map"></div>
<script>window.places = {{{places}}}</script>

{{#each placeList}}
<h2>{{name}}</h2>
<p>{{type}}</p>
<p>{{description}}</p>
<a href="/{{this._id}}/delete">Delete this place</a>
<br/>
<a href="/{{this._id}}/edit">Edit this place</a>
<hr>
{{else}}
<p class="empty">No content</p>
{{/each}}
<a href="/new">Add new place</a>
