<h2>Listing Places</h2>
<ul>
  {{#each placesFound}}
  <li><a href="{{_id}}">{{name}} - {{type}} - Address: ({{location.coordinates.[0]}} , {{location.coordinates.[1]}})</a></li>
  <form action="{{_id}}/delete"><input type="submit" value="Delete"></form>
  <form action="{{_id}}/edit"><input type="submit" value="Edit"></form>
  {{/each}}
</ul>
<a href="/new">Insert new places in the database</a>
<a href="/maps">View places in map</a>
