<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Geo App</title>
    <style>
        #map {
            height: 100vh;
            width: 70%;
        }
    </style>
</head>

<body>
    <div class="main-container">
        <div id="map"></div>
        <div id="contain">
            <nav class="nav">
                <ul>
                    <a href="/">
                        <li>Home</li>
                    </a>
                    <a data-toggle="modal" data-target="#exampleModal">
                        <li>Add place</li>
                    </a>
                </ul>
            </nav>

            <div class="main-info">
                <ul>
                    {{#each store}}
                        <div class="card">
                            <img src="{{this.img}}" alt="{{this.name}}">
                            <div class="title">
                                <img src="{{this.imgtitle}}" alt="{{this.name}}">
                                <li class="name">{{this.name}}</li>
                            </div>
                            <div class="buttons">
                                <a href="/edit/place/{{this._id}}"><button class="btn btn-secondary btn-sm">Edit</button></a>
                                <form action="delete/{{this._id}}" method="POST">
                                    <button class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </div>
                        </div>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add store</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="container-form">
                            <form action="/add/place" method="POST">
                    
                                <div class="form-group">
                                    <label>Name: </label>
                                    <input type="text" class="form-control" name="name" required>
                                </div>

                                <div class="form-group">
                                    <label>Type: </label>
                                    <select name="type" class="form-control">
                                        <option selected>Select option</option>
                                        <option value="Coffee shop">Coffee Shop</option>
                                        <option value="Bookstore">Book Store</option>
                                    </select>
                                </div>
                                
                                <div class="input-group">
                                    <label>Address</label>
                                    <div class="row">
                                        <div class="col-1">
                                            <label class="title-label">Lat: </label>
                                        </div>
                                        <div class="col-5">
                                            <input type="text" class="form-control" name="latitude" required>
                                        </div>
                                        <div class="col-1">
                                            <label class="title-label">Lng: </label>
                                        </div>
                                        <div class="col-5">
                                            <input type="text" class="form-control" name="longitude" required>
                                        </div>
                                    </div>
                                </div>       
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Create store</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>

        let allPlaces = {{{allPlaces}}};

        let map;

        let coffee = '../images/marker_coffee.png';
        let book = '../images/marker_book.png';

        function startMap() {
            const ironhackMAD = {
                lat: 40.3925046,
                lng: -3.700465
            };
            const map = new google.maps.Map(
                document.getElementById('map'),
                {
                    zoom: 14,
                    center: ironhackMAD
                }
            )

            allPlaces.forEach(place => {
                if(place.type === 'Coffee shop'){
                    new google.maps.Marker({
                        position: {
                            lat: place.location.lat,
                            lng: place.location.lng
                        },
                        map: map,
                        title: place.name,
                        draggable: true,
                        animation: google.maps.Animation.DROP,
                        icon: coffee
                    });
                } else {
                    new google.maps.Marker({
                        position: {
                            lat: place.location.lat,
                            lng: place.location.lng
                        },
                        map: map,
                        title: place.name,
                        draggable: true,
                        animation: google.maps.Animation.DROP,
                        icon: book
                    });
                }
            })
        }

        startMap();
    </script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdidhbZyn9dM7WoEP8DWcQwNRaGHdrdws&callback=startMap"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
   <script type="text/javascript" src="main.js"></script>
</body>

</html>