<h1>Places</h1>
<a href="/">Inicio</a>
<ul class="list-group"></ul>{{#each places as |place|}}
<li class="list-group-item">
  <p>Name: {{place.name}}</p>
<p>Type: {{place.type}}</p>
<form action="/lugares" method="POST">
<a href="/delete/{{place._id}}">
<button type="button" class="btn btn-primary">Delete Lugar</button>
</a><br><br>
<a href="/update-place/{{place._id}}">
<button type="button" class="btn btn-primary">Update Lugar</button>
</a>
</form>
</li>
{{/each}}
</ul>
  <div>

      <div>
        <div id='map' style='display: inline-flex;width: 800px; height: 500px;'></div>
      </div>
<script>
  mapboxgl.accessToken="pk.eyJ1IjoiZ2lzZWxpdXgiLCJhIjoiY2swZHhwZ3VwMGJ2eDNpbXF4bDgxY2d3dSJ9.oCz3yt20nmOFdeSKEZK8UA"
  let map2 = new mapboxgl.Map({
  container: "map",
  style: "mapbox://styles/mapbox/streets-v10",
});

//añadir controladores
map2.addControl(new MapboxDirections({accessToken:mapboxgl.accessToken}),'top-left')
map2.addControl(new mapboxgl.NavigationControl());

{{!-- const marker = new mapboxgl.Marker()
    .setLngLat([-99.1711, 19.399])
    .addTo(map2); --}}

if (navigator.geolocation) {

  // Get current position
  // The permissions dialog will pop up
  navigator.geolocation.getCurrentPosition(function (position) {
    // Create an object to match Mapbox's Lat-Lng array format
    const center = [
      position.coords.longitude,
      position.coords.latitude,
    ];

    map2.setZoom(12).setCenter(center);

   new mapboxgl.Marker({color:"red"})
   .setLngLat(center)
   .addTo(map2)
   .setPopup(new mapboxgl.Popup().setHTML("<p>Usted està aquì </p>"))

  });
} 

let locations=[];
let names=[];
{{#each places as |place|}}
  locations.push({{{place.location}}})
  names.push("{{place.name}}")
{{/each}}

console.log(locations)

locations.forEach((place,i)=>{
  console.log(i+1,location[i])
    let [lng,lat]=place.coordinates
    let place_position=[lng,lat];
    let popup =new mapboxgl.Popup().setText(names[i]);
    let marker =new mapboxgl.Marker().setLngLat(place_position).setPopup(popup).addTo(map);
})


</script>