<h1>Mostrar</h1>

<ul>
  <li>Name: {{place.name}} </li>
  <li>Type: {{place.type}}</li>
  <li>Longitude:{{place.lon}}</li>
  <li>Latitude:{{place.lat}}</li>
</ul>

<a href="/maps/{{place._id}}">Ver mapa</a>
<a href="/index">Inicio</a>