<form action="/places/edit?placeId={{place.id}}" method="post">
    <label for="">Name:</label>
    <input type="text" name="name" value="{{place.name}}">

    <br>

    <label for="">Type:</label>
    <input type="text" name="type" value="{{place.type}}">

    <br>

    <label>Adress =></label>
    <label for="">Latitude:</label>
    <input type="text" name="latitude" value="{{place.location.coordinates.[1]}}">
    
    <label for="">Longitude:</label>    
    <input type="text" name="longitude" value="{{place.location.coordinates.[0]}}">



    <button type="submit">Edit</button>
</form>