{{#each places as |place|}}
  <hr>
  <a href="/places/{{place._id}}">
  <img src="{{place.image}}" alt="{{place.name}}" width="200"/>
  </a>
  <a href="/places/{{place._id}}">
  <h2>{{place.name}}</h2>
  </a>
{{/each}}