<h2>{{name}}</h2>
<p>{{placeType}}</p>
<div id="map" style="width: 400px; height:300px"></div>
<a href="/places/{{_id}}/edit">Edit</a>
<a href="/places/{{_id}}/delete">Delete</a>
<a href="/">Go Back</a>


<script>

  mapboxgl.accessToken = 'pk.eyJ1Ijoiam9yZ2VtdHoiLCJhIjoiY2p4bTJjcmdpMGNnZDNubXUya2hrMWh6cCJ9.75ax8N9lxMUC9r_dZsPOEg';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    zoom: 14,
    center: [{{ location.coordinates }}]
  })

  const marker = new mapboxgl.Marker({
    color: 'red'
  })
    .setLngLat([{{ location.coordinates }}])
    .addTo(map)
</script>