<section class="container">

  <article class="row justify-content-center">

    <div class="col-md-6">

      <h2>{{place.name}}</h2>
      <hr>
      <h6>{{place.type}}</h6>
      <p>{{place.address}}</p>
      <hr>
      <a href="/edit?id={{place.id}}" class="btn btn-info">Edit</a>
      <a href="/delete?id={{place.id}}" class="btn btn-info">Delete</a>
    </div>

  </article>

</section>