<a href="/places/add">Add New Place</a>
<a href="/places">Go Back</a>

<h1 id="place-name">Name: {{name}}</h1>
<p>Type: {{type}}</p>

<p id="place-lat">Latitude: {{location.coordinates.[1]}}</p>
<p id="place-lng">Longitude: {{location.coordinates.[0]}}</p>

<a href="/places/edit/{{_id}}">Edit</a>

<div id="map" class="map2"></div>