<h2>{{name}}</h2>
<p>{{placeType}}</p>
<div id='map' style='width: 400px; height: 300px;'></div>
<a href="/places/{{_id}}/delete">Delete</a>
<br/>
<a href="/places/{{_id}}/edit">Edit</Edit> </a>
<br/>
<a href="/">Go back</a>

<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoiam9yZ2VjZWJhbGxvcyIsImEiOiJjanhtMmR3MWowY2dkM3VvMTcwcmtoZXhtIn0.6hTi9dTF9esAVc0vu1axtQ';
const map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
zoom: 14,
center: [{{location.coordinates}}]
})

const marker = new mapboxgl.Marker({
  color:'peru'
})
.setLngLat([{{location.coordinates}}])
.addTo(map)
</script>
 