<h4>{{name}} - {{type}} - {{location.coordinates}}</h4>

<form action="/update/{{_id}}" method="POST">
  <div>
    <label for="name">Name:</label>
    <input id="name" type="text" name="name" value="{{name}}">
  </div>
  
  <div>
    <label for="type">Type:</label>
    <select name="type" id="type" value="{{type}}">
      <option value="coffee shop">coffee shop</option>
      <option value="bookstore">bookstore</option>
    </select> 
  </div>
  
  <div>
    <label for="lat">Latitude:</label>
    <input type="number" name="lat" id="lat">
  </div>
  
  <div>
    <label for="lng">Longitude:</label>
    <input type="number" name="lng" id="lng">
  </div>
  
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <div>
    <input type="submit" value="Update">
  </div>
</form>