<h2>COFFIES AND BOOKS</h2>
<ul>
{{#each coffiebar}}
  <li>{{this.name}}</li>
  <li>{{this.type}}</li>
  <li>{{this.coordinates.lat}}</li>
  <li>{{this.coordinates.lon}}</li>
  <a href="/coffiebar/delete/{{this._id}}">DELETE</a>
{{/each}}
</ul>
<hr>
<form method="POST" action="/coffiebar/list">
  <input type="text" name="name" placeholder="name">
  <select name="type">
    <option> Choose One</option>
    <option value="Coffie Shop">Coffie Shop</option>
    <option value="BookStore">BookStore</option>
  </select>
  <label></label>
  <input id="latpos" type="" name="latitude" placeholder="Latitude" value="">
  <input id="lngpos" type="" name="longitude" placeholder="Longitude" value="">

  <input type="submit" name="">

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmA_nB5Ja-EzOKb37_eyIomFhgC6QjEvw"></script>
<script src="/javascripts/script.js"></script>
<div id="map">


</div>
</form>



