<h2>List of places </h2>
<ul>
  <% places.forEach((place) => { %>
    <li>
      <a href="/<%= place._id%>">
        <%= place.title%> | <%= place.description %> </a>
        <a href="/<%= place._id%>/edit">Edit</a> |
        <a href="/<%= place._id%>/delete">Delete</a>
    </li>
  <% }) %>
</ul>

