<div class="container">

    <h1>Details of {{name}}</h1>

    <hr>

    <div class="row">
        <div class="col-md-8">
            <p><strong>Name:</strong> {{name}}</p>
            <p><strong>Type:</strong> {{type}}</p>
            <p><strong>Location:</strong> {{location.coordinates.[1]}}, {{location.coordinates.[0]}}</p>
        </div>

    </div>

    <hr>

    <a href="/places/list" class="btn btn-dark">Volver al listado</a>

</div>