<h1 class="text-center">EDIT PLACE</h1>
<div class="container">
    <div class="row">

        <form action="/places/{{id}}/edit" method="POST">
            <div class="card-body">

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{name}}">
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label">Name</label>
                    <input type="text" class="form-control" id="type" name="type" value="{{type}}">
                </div>
                <div class="mb-3">
                    <label for="latitude" class="form-label">Latitude</label>
                    <input type="text" class="form-control" id="latitude" name="latitude"
                        value="{{location.coordinates.[0]}}">
                </div>
                <div class="mb-3">
                    <label for="latitude" class="form-label">Latitude</label>
                    <input type="text" class="form-control" id="latitude" name="latitude"
                        value="{{location.coordinates.[1]}}">
                </div>
                <input type="hidden" name="_id" value="{{id}}">

                <div class="d-grid mt-5">
                    <button type="submit" class="btn btn-dark btn-lg">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>