<div class="container text-center">
    <h1>PLACES</h1>
    <div class="row justify-content-center">

        {{#each places}}
        <div class="col-4 card places-card">
            <div class="card-body">
                <h5 class="name text-center"><b>name:</b> {{name}}</h5>
                <p class="image text-center img-fluid"><b>type:</b>{{type}}</p>
                <p class="image text-center img-fluid"><b>Latitude:</b>{{location.coordinates.[0]}}</p>
                <p class="image text-center img-fluid"><b>Longitude:</b>{{location.coordinates.[1]}}</p>
                <form action="/places/{{id}}/delete" method="POST">
                    <input type="submit" value="delete" class="btn btn-danger">
                </form>
                <a class=" mt-2 editMovie btn btn-warning justify-content-center" href="/places/{{id}}/edit">Edit</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>