<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-8">

            <h1>Editar {{name}}</h1>
            <hr>


            {{!-- ENVIAMOS EL ID COMO PARAM AL ENDPOINT YA QUE ES NECESARIO PARA EDITARLO --}}
            <form action="/edit/{{id}}" method="POST">
                <div class="mb-3 mt-5">
                    <label for="placeName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="placeName" name="name" value="{{name}}">
                </div>

                <div class="mb-3">
                    <label for="placeType" class="form-label">Tipo de establecimiento:</label>
                    <input type="text" class="form-control" id="placeType" name="type" value="{{type}}">
                </div>

                <div class="mb-3 ">
                    <label for="placeLatitude" class="form-label">Latitude</label>
                    <input type="text" class="form-control" id="placeLatitude" name="latitude"
                        value="{{location.coordinates.[0]}}">
                </div>

                <div class="mb-3 ">
                    <label for="placeLongitude" class="form-label">Longitude</label>
                    <input type="text" class="form-control" id="placeLongitude" name="longitude"
                        value="{{location.coordinates.[1]}}">
                </div>

                <button type="submit" class="btn btn-dark">Guardar edición</button>
            </form>

        </div>
    </div>



</div>