<div class="container mt-5">

    <div class="row">


        <div class="col-md-3">
            {{#each places}}

            <article class="character-card mb-5">

                <h4><strong>Nombre del establecimiento:</strong>{{name}}</h4>
                <hr>
                <p><strong>Tipo de establecimiento:</strong> {{type}}</p>


                <div class="d-grid">

                    <a href="/detalles/{{id}}" class="btn btn-info">Detalles</a>
                    <a href="/edit/{{id}}" class="btn btn-warning">Editar</a>
                    <form action="/delete/{{id}}" method="POST" style="display: inline">
                        <input type="submit" value="Borrar" class="btn btn-danger">
                    </form>


                </div>

            </article>

            {{/each}}
            <a href="/" class="btn btn-dark">Atras</a>
        </div>
    </div>

</div>