<div class="container mt-5">
    <div class="row">
        {{#each places}}
        <div class="col-md-3">
            <article class="character-card mb-5">
                <h4>{{name}}</h4>
                <hr>
                <p>Type: {{type}}</p>
                <div class="d-grid">
                    <div class="btn-group">
                        <form action="/places/edit/{{id}}" class="btn btn-warning btn-sm">
                            <a href="/places/edit/{{id}}" class=" btn btn-warning btn-sm">Editar</a>
                        </form>
                        <form action="/places/delete/{{id}}" method="POST" class="btn btn-danger btn-sm">
                            <input type="submit" value="Eliminar" class="btn btn-danger btn-sm">
                        </form>
                    </div>
                </div>
            </article>
        </div>
        {{/each}}
    </div>
</div>
<div class="container">
    <hr>
    <figure id="map"></figure>
    <hr>
    <a href="/" class="btn btn-dark">Volver</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/restaurantsMap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>