<div class="row justify-content-center">

<div class="col-md-5">

<article>
    <h3>{{name}}</h3>
    <p>{{type}}</p>
    
      <p>Latitud del local: {{location.coordinates.[0]}}</p>
      <p>Longitud del local: {{location.coordinates.[1]}}</p>
    

    <a href="/option/edit/{{_id}}" class="btn btn-sm btn-dark">Editar</a> 
    <a href="/" class="btn btn-sm btn-dark">Volver</a> 

  
</article>
<hr>

</div>


</div>
