<h1>
  {{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/new">Add a new place</a>
<ul>
  {{#each places}}
  <li>Name: {{name}} - Description: {{description}} - Type: {{kindOfPlace}} - <a href="/delete/{{_id}}">Delete place</a></li>
  {{/each}}
</ul>