<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-6">

            <h2>EDIT PLACE</h2>
            <hr>

            <form action="/places/edit/{{id}}" method="POST">

                <div class="mb-3">
                    <label for="namePlace" class="form-label">name:</label>
                    <input type="text" value="{{name}}" class="form-control" id="namePlace" name="name">
                </div>

                <div class="mb-3">
                    <label for="typePlace" class="form-label">type:</label>
                    <input type="text" value="{{type}}" class="form-control" id="typePlace" name="type">
                </div>

                <div class="mb-3">
                    <label for="latitudePlace" class="form-label">latitude</label>
                    <input type="text" value="{{location.coordinates.[0]}}" class="form-control" id="latitudPlace"
                        name="latitude">
                </div>

                <div class="mb-3">
                    <label for="longitudePlace" class="form-label">longitude</label>
                    <input type="text" value="{{location.coordinates.[1]}}" class="form-control" id="longitudPlace"
                        name="longitude">
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success block">EDIT PLACE</button>
                </div>

            </form>
        </div>
    </div>

</div>